@font-face {
    font-family: "raleway-light";
    src: url("Fonts/raleway-light.ttf");
}

body{
    margin: auto;
    font-family: raleway-light;
    font-weight: bold;
    background: #D5D8DC;
}

.bar{
    position: absolute;
    width: 100%;
    height: 30%;
    background-color: #f4511e;
    font-weight: bold;
    color: #eeeeee;
    padding-left: 20px;
}

.wrapper{
    position: absolute;
    width: 80%;
    height: 95%;
    /*background-color: #2874A6;*/
    top: 15%;
    left: 10%;
}

.tile1{
    position: absolute;
    width: 30%;
    height: 90%;
    background-color: #eeeeee;
    top: 20px;
    left: 30px;
    line-height: 25px;
    box-shadow: 5px 5px 5px grey;
}

.tile2{
    position: absolute;
    width: 60%;
    height: 90%;
    background-color: #eeeeee;
    top: 20px;
    right: 30px;
    line-height: 25px;
    box-shadow: 5px 5px 5px grey;
}

/*----------------------------------------------------next previous buttons-----------------------------------------------------*/

a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}

a:hover {
    background-color: #ddd;
    color: black;
}

.previous {
    background-color: #f4511e;
    color: white;
    float: left;
    position: absolute;
    top: 50%;
}

.next {
    background-color: #f4511e;
    color: white;
    float: right;
    position: relative;
    top: 50%;
}

.round {
    border-radius: 50%;
}

a.fab{

}