@charset "utf-8";
	
	.box01{
		height: 308px;
		width: 550px;
		margin-top: -301px;
	}
	.box02{
		height: 347px;
		width: 450px;
		background:#F9F9F9;
		padding-left: 5px;
		margin-left: 555px;
		margin-top: -308px;
		padding-right: 1px;
	
	}
	.box03{
		width: 1005px;
		height: 225px;
		margin-top: 20px;
		margin-left: 50px;
	}
	.box04{
		width: 655px;
		height: 225px;
		margin-top: 11px;
		margin-left: 300px;
		
	}
	
	
	.imgLayout1{
		height: 150px;
		width: 320px;
		margin-left: 100px
	}
	.imgLayout1 :hover{
		opacity: 1;
		transform: scale(1.07);
        transition-delay: 0ms;
		-webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        -ms-transition: all 1s ease;
        transition: all 1s ease;
	}


	.imgLayout2{
		height: 150px;
		width: 320px;
		margin-left: 450px;
		margin-top: -150px;
	}
	.imgLayout2 :hover{
		opacity: 1;
		transform: scale(1.07);
        transition-delay: 0ms;
		-webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        -ms-transition: all 1s ease;
        transition: all 1s ease;
	}
	


	.imgLayout3{
		height: 150px;
		width: 320px;
		margin-left: 800px;
		margin-top: -150px;

	}	
	.imgLayout3 :hover{
		opacity: 1;
		transform: scale(1.07);
        transition-delay: 0ms;
		-webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        -ms-transition: all 1s ease;
        transition: all 1s ease;
	}
	


	.imgLayout5{
		height: 150px;
		width: 320px;
		

	}
	.imgLayout5 :hover{
		opacity: 1;
	    transform: scale(1.07);
        transition-delay: 0ms;
		-webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        -ms-transition: all 1s ease;
        transition: all 1s ease;
	}
	
	.imgLayout6{
		height: 150px;
		width: 320px;
		margin-left: 350px;
		margin-top: -150px;

	}
	.imgLayout6 :hover{
		opacity: 1;
		transform: scale(1.07);
        transition-delay: 0ms;
		-webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        -ms-transition: all 1s ease;
        transition: all 1s ease;
    
	}
	
	
